body {
    padding: 0;
    margin: 0;
    background-color: #ffffff;
    font-size: 13px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
}
label {
    height: 24px;
    line-height: 24px;
    padding-right: 5px;
    width: 140px;
    text-align: right;
    display: inline-block;
}
input {
margin-bottom: 2px;
}
.merchant_combos {
    margin-right: 10px;
}

.paymetric-content .footer {
     width: 450px;
    text-align: right;
    margin: 4px auto;
}
.payment-content {
    border: solid 2px #F0F0F0;
    width: 450px;
    border-radius: 15px;
    margin: 20px auto 0 auto;
}

.merchant-logo {
    background: #FFF url('../Images/acme.png') no-repeat right top;
    height: 150px;
    width: 400px;
    margin: auto;
    background-size: 60%;
    background-position: center;
}
.billing-content {
    background-color: #F0F0F0;
    margin: auto;
    padding: 4px 0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.billing-header {
    background-color: transparent;
    width: 96%;
    margin: auto;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    padding: 4px 0;
}
.billing-info {
    background-color: #FFF;
    width: 96%;
    margin: auto;
    border: solid 2px #FFF;
    border-radius: 2px;
}

.payment-button {
    background-color: transparent;
    width: 96%;
    margin: auto;
    padding: 5px 0;
    text-align: right;
}

 .payment-button input {
        border: none;
        border-radius: 3px;
        font-weight: bold;
        color: #FFF;
        padding: 2px 10px;
        font-size: 12px;
        letter-spacing: 1px;
    }
.payment-button .cancel-button {

    background-color: #BBB;
    border: solid 1px  #BBB;
    margin-right: 10px;

}
.payment-button .submit-button {
    background-color: #0099FF;
    border: solid 1px #0099FF;
}
.payment-content #c-content div,
.payment-content #ec-content div {
    border-top: solid 1px #e5e5e5;
    padding: 3px 2px;
    margin: 0 10px;
}

.payment-content div  #c-cvvh{
    border-top: none;
}
[name='dieCommFrame'] {
    padding-left: 5px;
    overflow: hidden !important;
}
.IFrameButton {
    border: 1px solid rgb(124, 123, 123);
    background-color: #F0F0F0;
    border-radius: 2px 3px;
    padding: 4px;
    margin: 20px 0 5px 310px;
}
/* IFrame styles*/
#html-main-content {
    width: 400px;

}
.valmsg {
    margin-left: 145px;
    color: #ff0000;
    font-size: 10px;
}
.valmsg-ac-type {
    margin-left: 35px;
    color: #c63b3b;
}
.valmsg-img {
    background-image: url("../Images/red-info.png");
    width:16px;
    height:16px;
    display: inline-block;
    vertical-align: middle;
    margin-left: 4px;
}
.errorTooltip {
    background-color: white;
    border: 1px solid #626161;
    color: #c63b3b;
    border-radius: 7px;
}
.xiInputError {
     border: 1px solid #ff8080!important;
     background-color: #fef5f5!important;
}
.PaymentDetailHeader {
    text-align: center;
    width: 100%;
    background-color: rgb(232, 6, 6);
    color: white;
    height: 20px;
    padding-top: 2px;
    /*margin: 5px 0;*/
}

@font-face {
  font-family: 'password';
  font-style: bold;
  font-weight: 400;
  src: url(https://jsbin-user-assets.s3.amazonaws.com/rafaelcastrocouto/password.ttf);

  /* src: url(http://localhost:8080/SampleTokenizationProject/css/password.ttf); */
}

input.key {
  font-family: 'password';
  width: 180px; height: 30px;
}

.xi-short-text{
	font-family: 'password';
    width: 65px;
    height: 20px;
    margin-right: 10px;
}

